/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
.container {
  max-width: 70vw;
  margin: 0 auto;
  padding: 0 20px;
}

code {
  display: block;
  background: dimgray;
  padding: 10px;
  border-radius: .5rem;
  color: white;
  margin: 1rem 0;
  font-family: monospace;
}

.result {
  background: cadetblue;
}